/*
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   Normal styles applys
1800px+:        Big Desktop

$breakpoint arguement choices: 
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

height breakpoints:
0 - 599px: change grid to flexible rows/columns.
*/
:root {
  --color-primary: black; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  min-height: 100vh;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  background-image: linear-gradient(to right bottom, rgba(22, 89, 166, 0.8), rgba(0, 52, 112, 0.8)), url(../images/background.jpg);
  background-size: cover;
  background-position: center; }

button {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 2rem; }

button:active {
  transform: scale(0.95); }

button:hover {
  border-color: #fff;
  border-width: 5px;
  border-style: solid; }

.calc {
  height: max-content;
  width: max-content;
  background-color: #3B3A3F;
  box-shadow: 5px 10px 8px #5188E0;
  border-radius: 2.5rem;
  padding: 2rem;
  margin: 20vh auto auto auto;
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: 2rem;
  grid-auto-rows: minmax(auto, 8rem);
  gap: .5rem; }
  .calc-header {
    grid-column: 1 / 5;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .calc-header__logo {
      height: 2.5rem;
      margin-bottom: .7rem; }
    .calc-header__text {
      margin-left: .5rem;
      margin-right: auto; }
  .calc-screen {
    grid-column: 1 / 5;
    height: 10rem;
    border-radius: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .calc-screen__text {
      overflow: hidden;
      white-space: nowrap;
      direction: ltr;
      text-align: left;
      width: 100%;
      flex: 1;
      padding-right: 1rem; }
  .calc > *:not(.calc-screen):not(.calc-header) {
    font-size: 3rem;
    border-radius: 1rem;
    height: 8rem;
    outline: none; }

#screen-top {
  font-size: 2rem; }

#screen-bottom {
  font-size: 3.5rem;
  font-weight: 900; }

.screen-inner-top,
.screen-inner-bottom {
  float: right; }

.operands,
.calc-equals {
  background-color: orange; }

.calc-clear,
.calc-percent,
.calc-delete,
.calc-sign,
.calc-decimal {
  background-color: #3683db; }

.digits {
  background-color: #b1b5ae; }

.author {
  font-size: 1.7rem;
  color: white;
  text-shadow: 1px 1px #000;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.github-logo {
  margin-left: 1rem; }
