:root {
    --color-primary: black;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; // 1rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; // 1rem = 80x, 8/16 = 50%
    }

    @include respond(phone) {
        font-size: 40%;
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12, 12/16
    }
}

body {
    min-height: 100vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    background-image: 
                    linear-gradient(to right bottom,
                    rgba(#5188E0, .3),
                    rgba(#194C9D, .8)),
                    url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}