button {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 2rem;
}

button:active {
    transform: scale(.95);
}

button:hover {
    border-color: #fff;
    border-width: 5px;
    border-style: solid;
}