.heading {
    margin-top: 5vh;
    text-align: center;
    font-size: 3rem;

    &-title {
        text-align: center;
    }
}

.calc {
    height: max-content;
    width: max-content;
    background-color: var(--color-primary);
    border-radius: 2.5rem;
    padding: 2rem;
    
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin: 3vh auto;

    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-auto-rows: minmax(auto, 5.5rem);
    gap: .3rem;

    &-screen {
        grid-column: 1 / 5;
        height: 6rem;
        border-radius: 1rem;
        background-color: white;
        margin-bottom: .5rem;
        width: 100%;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &__text {
            overflow: hidden;
            white-space: nowrap;
            direction: ltr;
            text-align: left;
            width: 100%;
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            flex: 1;
            padding: .5rem 1rem 0 0;
        }
    }

    & > *:not(.calc-screen) {
        border-radius: 1rem;
        height: 5rem;          
        outline: none;
    }
}

#screen-top {
    font-size: 1.2rem;
}

#screen-bottom {
    font-size: 2rem;
    font-weight: 900;
}

.screen-inner-top,
.screen-inner-bottom {
    float: right;
}